
<h1>Figures List</h1>


  <label>Figures:</label>

  <br> </br>
  <% @figures.each do |figure| %>
  <%= figure.name%>
  <br>
  <%end%>
<form class="" action="index.html" method="post">

</form>
  <input type="text" name="figure[name]">

  <br></br>

  <input type="submit" value="Create Figure">
</form>
